<!--
  <h1>
  {{hero}}
</h1>

Update the binding in the template to announce the hero's name and show both id and name in a details layout like this:

<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>


[(ngModel)] is Angular's two-way data binding syntax.

Here it binds the hero.name property to the HTML textbox so that data can flow in both directions: from the hero.name property to the textbox, and from the textbox back to the hero.name.


<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
</div>


<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor='let hero of heroes' (click)="onSelect(hero)"> 
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>


<h2>{{selectedHero.name | uppercase}} Details</h2>
<div><span>id: </span>{{selectedHero.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedHero.name" placeholder="name">
  </label>
</div>
-->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor='let hero of heroes' (click)="onSelect(hero)"> 
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>